.info-card-popover-root {
	background-color: $white;
	border-radius: 2px;
	box-shadow: unquote('0px 1px 5px -1px hsl(from #{$black} h s l / 0.3)');
	padding: 16px;
	width: 268px;

	.filter-name {
		min-height: 32px;
	}
}

.base-dropdown-menu-root {
	max-height: none;
	min-width: 268px;
	overflow: visible;

	.base-dropdown-list {
		max-height: 500px;
		overflow-y: auto;

		.sticker {
			background-color: $lightBackground;
			margin: 4px 16px 4px 4px;
		}
	}

	.card-tabs-root {
		margin: 0 20px 8px;
	}

	.dropdown-item {
		&.active,
		&:active,
		&:hover,
		&:focus {
			.options-button:not([disabled]) {
				opacity: 1;
				visibility: visible;

				&:active,
				&:focus,
				&:hover {
					background-color: unquote(
						'hsl(from #{$black} h s l / 0.04)'
					);
					border: 1px solid $primaryLighten33;
				}
			}
		}

		&:not(.active) {
			.dropdown-item-primary-button {
				color: $mainLighten28;
			}
		}

		.dropdown-item-primary-button {
			line-height: 32px;
			min-width: 0;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		.options-button {
			background-color: transparent;
			opacity: 0;
			transition: opacity 100ms ease;
			visibility: hidden;
		}
	}

	.event-analysis-dropdown-header-title {
		font-size: $fontSizeMedium;
		font-weight: $fontWeightSemiBold;
		padding: 8px 20px;
	}
}

.event-analysis-editor-attribute-dropdown-root {
	.attribute-options {
		padding: 8px 16px;

		.options-body {
			.form-control {
				font-size: $fontSizeExtraSmall;
				height: 32px;
			}

			.form-control-label {
				color: $secondary;
				font-weight: $fontWeightRegular;
			}

			.form-group {
				margin-bottom: 12px;

				.date-range-input-root {
					min-width: 180px;
				}
			}
		}

		.options-header {
			border-bottom: 1px solid $mainLighten74;
			margin-bottom: 12px;

			.back-to-attributes-button {
				color: $secondary;
				font-size: $fontSizeExtraSmall;
				font-weight: $fontWeightSemiBold;
				text-transform: uppercase;
			}

			.filter-info-root {
				padding: 20px 0 12px;
			}
		}
	}
}

.event-analysis-editor-root {
	color: $secondary;

	.compare-to-previous-checkbox {
		.custom-control-label-text {
			color: $secondary;
		}
	}
}

.filter-info-root {
	.description {
		color: $secondary;
		padding-bottom: 8px;
		word-break: break-word;
	}

	.filter-name {
		font-weight: $fontWeightSemiBold;
		word-break: break-word;
	}
}
